extends base

block content 
    if errorMessage
        span=errorMessage
    form(method="post" action="/videos/upload")
        input(name="title" type="text" placeholder="Uplaod Title" required= true maxlength=20)
        input(name="descript" type="text" placeholder="description" required= true maxlength=100)
        input(name="hashtags" type="text" placeholder="hashtags" required= true )
        input(type="submit" value="Upload Video" )